[submodule "tests/data/glTF-Sample-Assets"]
	path = tests/data/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets
[submodule "tests/data/glTF-Sample-Environments"]
	path = tests/data/glTF-Sample-Environments
	url = https://github.com/KhronosGroup/glTF-Sample-Environments
