# OS:
.DS_Store

# Python:
.mypy_cache
.venv
__pycache__
*.egg-info

# Compiled shaders (generated during build)
*.spv

# Build and test artifacts
/output
/dist
/build
/prof

# `bundled_data` is always excluded from Git and is generated during the build process.
src/resin/bundled_data/*
!src/resin/bundled_data/__init__.py

# Ignore '*.actual.png' files from expect tests.
*.actual.png

# Ignore log files
*.log
