# OS:
.DS_Store

# Python:
.mypy_cache
.venv
__pycache__
*.egg-info

# Jupyter
.ipynb_checkpoints

# Compiled shaders (generated during build)
*.spv

# Build and test artifacts
/output
/dist
/build
/target

# Ignore log files
*.log
