# OS:
.DS_Store

# Python:
.mypy_cache
.venv
__pycache__
*.egg-info

# Compiled shaders (generated during build)
*.spv

# Build and test artifacts
/output
/dist
/build

# `bundled_data` is always excluded. Built by `zfw-build`.
bundled_data

# Ignore '*.actual.png' files from expect tests.
*.actual.png

# Ignore log files
*.log
